{:paths ["src" "target" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.3"}
        org.clojure/clojurescript {:mvn/version "1.12.42"}
        com.bhauman/figwheel-main {:mvn/version "0.2.20"}
        quil/quil {:mvn/version "4.3.1563"}
        thi.ng/geom {:mvn/version "1.0.1"}}
 :aliases {:fig {:main-opts ["-m" "figwheel.main"]}
           :build {:main-opts ["-m" "cljs.main" "-O" "advanced" "-c" "mrhota.coding-train.flow-field"]}
           :repl {:main-opts ["-m" "cljs.main" "-c" "mrhota.coding-train.flow-field" "-r"]}}}
